@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --base: #ffffff;
    --pill-bg: #060010;
    --hover-text: #060010;
    --pill-text: #ffffff;
    --nav-h: 42px;
    --logo: 36px;
    --pill-pad-x: 18px;
    --pill-gap: 3px;
  }
}

@layer utilities {
  @keyframes shine {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .animate-shine {
    animation: shine var(--animation-duration, 3s) ease-in-out infinite;
  }
}
